.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.idea
.vscode
*.swp
*.swo
.DS_Store
README.md
CONTRIBUTING.md
LICENSE
notebooks
.coverage
htmlcov
.mypy_cache
.pytest_cache
data/raw/*
data/processed/*
models/*
mlruns/*
artifacts/*